html 
{
background-color: #fff;
margin: 0px;
padding: 0px;
font-size: 15px;
font-family:  Verdana, Helvetica,"Segoe UI", Sans-Serif;  
overflow: auto;
position:relative; 
display: block;
}

body 
{
background-color: #fff;
border-top: solid 0em #000;
color: #000000;
font-size: 1em;
font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
margin: 0em;
padding: 0em; 
position:relative;  
}
body  a
{ 
color: white;   
} 
#div-site-title
{  
height: 4.5em;
width: 13em;
background: url("../Images/bg_top2.gif") repeat;  
float: left;
z-index: 5000;
display: block;
position: fixed; 
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em; 
}
 
.site-logo
{    
float: left; 
position: relative;  
display: block;  
padding-top : 0em;
padding-bottom: 0em;
padding-right: 0em;
padding-left: 0em;
margin-top: 5em; 
margin-left: 5em;
}
 
.site-title
{ 
border-radius: 0em;  
color: black;
font-family: Verdana;
font-size: 1em; 
padding-left: 5px;
padding-right: 1px; 
padding-top: 5px;
padding-bottom: 1px;
margin-left: 0em; 
margin-top: 0em; 
text-align: left;
float: none; 
clear: both;
position: relative; 
display: block; 
}  
 
section text
{
color: black;
}
#MainMenu
{       
background: url("../Images/bg_top2.gif") repeat; 
height: 4.5em;
width: 60em; 
float: left;
z-index: 4970;
display: block;
position: fixed;   
margin-left: 11em;  
}  
#SubMenu
{    
float: left;
z-index: 4980;
display: block;
position: fixed;   
padding: 0em;  
margin-left: 11em;
margin-right: 0em; 
margin-top: 1.8em;
margin-bottom: 0em; 
clear: both; 
}    
.nav
{
position: relative;
display: block;
word-wrap: break-word; 
margin-left: 0em;
margin-right: 0em; 
margin-top: 0em;
margin-bottom: 0em; 
}
.nav .menu
{ 
list-style: none; 
position: relative; 
display: block; 
text-align: left; 
} 
.menu  li
{  
float: left;  
padding-left: 2px;
padding-right: 2px;
padding-top: 0px; 
padding-bottom: 0px; 
margin-bottom: 0em;
margin-top: 0em;
 
} 
.menu li a
{ 
font-size: 1em;
text-decoration: none;
text-align: top;  
color: white;
background-color: cornflowerblue;
border-right: 0px solid white;
border-left: 0px solid white;
border-bottom: 0px solid white;
border-top: 0px solid white;
border-radius: 5px; 
text-transform: uppercase;
padding-left: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-top: 0px;
} 
.menu li a:hover
{
background-color: black;
opacity: 1;
color: white; 
border: 0px solid black;
} 
#div-login
{ 
width: 100%;
height: 4.5em;
background: url("../Images/bg_top2.gif") repeat;  
float: right;
z-index: 4950;
display: block;
position: fixed;   
padding-left: 8em;
margin-left: 65em;  
}  
 
#login a
{
background-color: cornflowerblue;
color: white;
border: 0px solid white;
border-radius: 5px;   
text-decoration: none;
text-align: left;
}

#login a:hover
{
background-color: black;
color: white;
border: 0px solid black;
border-radius: 5px;   
text-decoration: none;
}

#login a #lnkloggedinuser 
{
background-color: cornflowerblue;
color: white;
border: 0px solid white;
border-radius: 5px;    
text-decoration: none;
text-align: left;
}

#login a #lnkloggedinuser:hover 
{
background-color: black;
color: white;  
border: 0px solid white;
border-radius: 5px; 
text-decoration: none; 
}

footer 
{
clear: both; 
font-size: 1em; 
height: 50%; 
position: relative;
margin-bottom: 0em;
}

a 
{  
outline: none;
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
padding-bottom: 3px;
text-decoration: none;
cursor: pointer;   
width: auto;  
background-color: #125182; 
text-align: center;  
line-height: 1em; 
border-right: solid 2px #c8c8c8;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #125182), color-stop(.5, #1269ab), color-stop(.51, #004375), to(#00345b)); 
background: -moz-linear-gradient(top, #125182, #1269ab 50%, #004375 51%, #00345b); 
-moz-border-radius: 30px; 
-webkit-border-radius: 30px; 
border-radius: 30px; 
-moz-box-shadow:inset 0 0 10px #000000; 
-webkit-box-shadow:inset 0 0 10px #000000; 
box-shadow:inset 0 0 10px #000000;
cursor: pointer;
font-size: 1em;   
width: auto;
color: white;
}

a:hover
{ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(black)); 
background: -moz-linear-gradient(19% 75% 90deg,#d46d45, #b1432a); 
-moz-border-radius: 30px; 
-webkit-border-radius: 30px; 
border-radius: 30px; 
-moz-box-shadow: inset 0 0 10px #000000; 
-webkit-box-shadow:inset 0 0 10px #000000; 
box-shadow:inset 0 0 10px #000000;
cursor: pointer;
font-size: 1em;   
width: auto;
color: white;
}
 
input[type="submit"],
input[type="button"],
button 
{ 
cursor: pointer;   
width: auto; 
color: #fff; 
background-color: #125182; 
text-align: center;  
line-height: 1em; 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #125182), color-stop(.5, #1269ab), color-stop(.51, #004375), to(#00345b)); 
background: -moz-linear-gradient(top, #125182, #1269ab 50%, #004375 51%, #00345b); 
-moz-border-radius: 30px; 
-webkit-border-radius: 30px; 
border-radius: 30px; -moz-box-shadow:inset 0 0 10px #000000; 
-webkit-box-shadow:inset 0 0 10px #000000; 
box-shadow:inset 0 0 10px #000000;
cursor: pointer;
font-size: 1em;   
width: auto;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover 
{
background-color: black;
color:white;   
cursor: pointer; 
-moz-box-shadow:inset 0 0 50px #000000; 
-webkit-box-shadow:inset 0 0 50px #000000; 
box-shadow:inset 0 0 50px #000000;
} 
 
input[type="text"]:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="checkbox"]:disabled, 
select:disabled,
textarea:disabled
{  
background: grey; 
}

input:focus, 
textarea:focus, 
select:focus, 
input[type="date"]:focus,
input[type="text"]:focus,
input[type="number"]:focus
input[type="checkbox"]:focus
{
border: 2px solid cornflowerblue;
}
input[type="submit"]:focus,
input[type="button"]:focus, 
button:focus 
{
border: 0px solid #7ac0da;
}   
textarea 
{
font-family: inherit;
width: 500px;
}
input, 
textarea, 
select , 
input[type="date"], 
input[type="number"] 
{
border: 1px solid black; 
border-radius: 5px;  
background: #fff;
color: black;
font-size: 1em;
margin: 5px 0 6px 0;
padding: 5px;
width: 300px;
}

input[type="checkbox"] 
{
background: transparent;
border: inherit;
width: auto;
}
 
label 
{
display: block;
font-size: 1em;
font-weight: 600;
overflow-x:auto;
word-wrap: break-word; 
}

label.checkbox 
{
display: inline;
cursor: pointer;
}

#div-hometitle
{
height: 2em;
width: 100%;
background-color: cornflowerblue;
float: left;
z-index: 4690;
display: block;
position: fixed; 
margin-top: 4.5em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;  
}
#hometitle
{ 
z-index: 4570;
width: 50em;
font-size: 1em;
font-family: Helvetica, "Segoe UI", Sans-Serif, Verdana; 
text-decoration: none;
text-align: center;  
color: black;   
padding-left: 10px;
padding-right: 0px;
padding-bottom: 0px;
padding-top: 10px;
position: absolute;  
}
#howitworks
{
z-index: 4570;
font-size: 1em;
font-family:  "Segoe UI", Sans-Serif, Verdana, Helvetica;  
text-decoration: none;
text-align: right;  
color: white;   
padding-left: 0px;
padding-right: 10px;
padding-bottom: 0px;
padding-top: 4px;
position: relative; 
float: right;
margin-top: 0em;  
}
#howitworks a
{
width: auto; 
font-size: 1em;
height: auto; 
color: white; 
background-color: cornflowerblue; 
text-align: center;  
line-height: 10px;  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d46d45), to(#b1432a)); 
background: -moz-linear-gradient(19% 75% 90deg,#b1432a, #d46d45);  
border-top: solid 0px #e28d79; 
border-bottom: solid 0px #51281f; 
border-right: solid 0px #d46d45; 
border-left: solid 0px #d46d45; -moz-border-radius: 10px; 
-webkit-border-radius: 10px; border-radius: 10px; 
padding-left: 3px; 
padding-right: 3px; 
text-decoration: underline;  
}
#howitworks a:hover 
{
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(black)); 
background: -moz-linear-gradient(19% 75% 90deg,#d46d45, #b1432a); 
border-top: solid 0px #b1432a; 
border-bottom: solid 0px #e28d79;
border-collapse: separate;
border-radius: 0px;
border-color: cornflowerblue;  
background-color: black;
color:white;   
cursor: pointer;   
}
#body 
{
z-index: 3999; 
position: relative;  
display: block;   
padding-top: 50px;
/* background-color: #fff; */
/* clear: both; */
/* padding-left: 50px; */
/* padding-right: 50px; */ 
/* margin-bottom: 0em; */
/* margin-right: 10em; */
/* margin-left: 10em; */
}

.main-content 
{ 
padding-left: 20px;
padding-top: 40px;
}
 
.content-wrapper 
{
margin: 0 auto;
max-width: 1000px; 
}
 .clear-fix:after 
{
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;
}
.featured 
{
background-color: #fff; 
}

.featured .content-wrapper 
{
background-color: #7ac0da;
background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
color: #3e5667; 
max-width: 80em; 
width: 100%;
height: 100%; 
clear: both; 
z-index: 3990; 
position: relative;  
display: block;   
margin-bottom: 0em;
margin-right: 0em;
margin-top: 3em;
margin-left: 1em;
}

#div-repaymentfees
{
height: 1em;
width: 100%;  
float: left;
z-index: 3980;
display: block;
position: relative; 
margin-top: 4.5em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em; 
padding-left: 5px;
padding-top: 30px; 
}
#div-gettingstarted
{
background: url("../Images/bg_top2.gif") repeat; 
height: 20em;
width: 100%; 
float: left;
z-index: 3975;
display: block;
position: relative; 
margin-top: 0.6em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em; 
padding-left: 5px;
padding-top: 0px;
}
#div-whyfanikiwa
{
background: url("../Images/bg_top2.gif") repeat; 
height: 20em;
width: 100%; 
float: left;
z-index: 3975;
display: block;
position: relative; 
margin-top: 0.6em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em; 
padding-left: 5px;
padding-top: 0px;
}
#div-howtoappply
{
background: url("../Images/bg_top2.gif") repeat; 
height: 20em;
width: 100%; 
float: left;
z-index: 3975;
display: block;
position: relative; 
margin-top: 0.6em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em; 
padding-left: 5px;
padding-top: 0px;
}
#btncontactus
{  
height: 50px; 
color: #fff; 
background-color: #125182; 
text-align: center;  
line-height: 1em; 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #125182), color-stop(.5, #1269ab), color-stop(.51, #004375), to(#00345b)); 
background: -moz-linear-gradient(top, #125182, #1269ab 50%, #004375 51%, #00345b); 
-moz-border-radius: 30px; 
-webkit-border-radius: 30px; 
border-radius: 30px; -moz-box-shadow:inset 0 0 10px #000000; 
-webkit-box-shadow:inset 0 0 10px #000000; 
box-shadow:inset 0 0 10px #000000;
cursor: pointer;
font-size: 1em;   
width: auto;
}
#btncontactus:hover 
{
background-color: black;
color:white;   
cursor: pointer; 
 -moz-box-shadow:inset 0 0 50px #000000; 
-webkit-box-shadow:inset 0 0 50px #000000; 
box-shadow:inset 0 0 50px #000000;
}
#btnourcontacts
{
height: 50px; 
color: #fff; 
background-color: #125182; 
text-align: center;  
line-height: 1em; 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #125182), color-stop(.5, #1269ab), color-stop(.51, #004375), to(#00345b)); 
background: -moz-linear-gradient(top, #125182, #1269ab 50%, #004375 51%, #00345b); 
-moz-border-radius: 30px; 
-webkit-border-radius: 30px; 
border-radius: 30px; -moz-box-shadow:inset 0 0 10px #000000; 
-webkit-box-shadow:inset 0 0 10px #000000; 
box-shadow:inset 0 0 10px #000000;
cursor: pointer;
font-size: 1em;   
width: auto;
}
#btnourcontacts:hover 
{
background-color: black;
color:white;   
cursor: pointer; 
 -moz-box-shadow:inset 0 0 50px #000000; 
-webkit-box-shadow:inset 0 0 50px #000000; 
box-shadow:inset 0 0 50px #000000;
}
.featured hgroup.title h1, .featured hgroup.title h2 
{
color: #fff;
}

.featured p 
{
font-size: 1em;
}
 
header, footer, hgroup, section
{
display: block;
}

mark 
{
background-color: #a6dbed;
padding-left: 5px;
padding-right: 5px;
}

.float-left
{
float: left;
}
.float-right
{
float: right;
}
.float-left p
{
float: left;
clear: both;
padding-left: 50px;
padding-right: 50px;
}
 
.floatleft
{
float:left;
position:relative;
}

h1, h2, h3,
h4, h5, h6 
{
color: #000;
margin-bottom: 0;
padding-bottom: 0;
}

h1 
{
font-size: 1em;
}

h2 
{
font-size: 1em;
}

h3 
{
font-size: 1em;
}

h4 
{
font-size: 1em;
}

h5, h6 
{
font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active 
{
padding: 0;
text-decoration: none;
}
  
hgroup.title 
{
margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 
{
display: inline;
}

hgroup.title h2 
{
font-weight: normal;
margin-left: 3px;
}
 
section.feature 
{
width: 300px;
float: left;
padding: 10px;
}

/* ordered list */
ol.round 
{
list-style-type: none;
padding-left: 0;
}

ol.round li 
{
margin: 25px 0;
padding-left: 45px;
}

ol.round li.zero 
{
background: url("../Images/orderedList0.png") no-repeat;
}

ol.round li.one 
{
background: url("../Images/orderedList1.png") no-repeat;
}

ol.round li.two 
{
background: url("../Images/orderedList2.png") no-repeat;
}

ol.round li.three 
{
background: url("../Images/orderedList3.png") no-repeat;
}

ol.round li.four 
{
background: url("../Images/orderedList4.png") no-repeat;
}

ol.round li.five 
{
background: url("../Images/orderedList5.png") no-repeat;
}

ol.round li.six 
{
background: url("../Images/orderedList6.png") no-repeat;
}

ol.round li.seven 
{
background: url("../Images/orderedList7.png") no-repeat;
}

ol.round li.eight 
{
background: url("../Images/orderedList8.png") no-repeat;
}

ol.round li.nine 
{
background: url("../Images/orderedList9.png") no-repeat;
}

/* content */
article 
{
float: left;
width: 70%;
}

aside 
{
float: right;
width: 25%;
}

aside ul 
{
list-style: none;
padding: 0;
}

aside ul li 
{
background: url("../Images/bullet.png") no-repeat 0 50%;
padding: 2px 0 2px 20px;
}

.label 
{
font-weight: 700;
}

#transactions
{
margin-left: 40px;
float: left;
width: 40%;
}
#accounts
{
border-right: solid 2px #c8c8c8;
float: left;
width: 55%;
}


/* login page */
#loginForm
{ 
border-right: solid 2px #c8c8c8;
float: left;
width: 55%;
}

#loginForm .validation-error
{
display: block;
margin-left: 15px;
}

#loginForm .validation-summary-errors ul
{
margin: 0;
padding: 0;
}

#loginForm .validation-summary-errors li
{
display: inline;
list-style: none;
margin: 0;
}

#loginForm input
{
width: 250px;
}

#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button
{
width: auto;
}

#socialLoginForm
{
margin-left: 40px;
float: left;
width: 40%;
}

#socialLoginForm h2
{
margin-bottom: 5px;
}

#socialLoginList button
{
margin-bottom: 12px;
}

#logoutForm
{
display: inline;
font-size: 1em;
}
#login logoutForm:hover 
{
background-color:black;
margin: 0;
padding: 0;
text-decoration: underline;
color:white;
font-size: 1em;
}
#logoff 
{
}
#logoff:hover 
{
font-size: 1em;
}

/* contact */
.contact h3 
{
font-size: 1em;
}

.contact p 
{
margin: 5px 0 0 10px;
}

.contact iframe 
{
border: 1px solid #333;
margin: 5px 0 0 10px;
}

/* forms */
fieldset 
{
border: none;
margin: 0;
padding: 0;
}

fieldset legend 
{
display: none;
}

fieldset ol 
{
padding: 0;
list-style: none;
}

fieldset ol li 
{
padding-bottom: 5px;
}

/* info and errors */
.message-info 
{
border: 1px solid;
clear: both;
padding: 10px 20px;
}

.message-error 
{
clear: both;
color: #e80c4d;
font-size: 1em;
font-weight: bold;
margin: 20px 0 10px 0;
}

.message-success 
{
color: #7ac0da;
font-size: 1em;
font-weight: bold;
margin: 20px 0 10px 0;
}

.error 
{
color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error 
{
color: #e80c4d;
font-weight: bold;
}

.field-validation-valid 
{
display: none;
}

input.input-validation-error 
{
border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error 
{
border: 0 none;
}

.validation-summary-errors 
{
color: #e80c4d;
font-weight: bold;
font-size: 1em;
}

.validation-summary-valid 
{
display: none;
}


/* tables
----------------------------------------------------------*/
table
{
padding: 0px;
margin: 0px;
border: 2px solid;
background-color: #e8eef4;
border-spacing: 10px; 
border-collapse:collapse;
border-radius: 10px;
border-color: cornflowerblue;
width: 100%;
table-layout: fixed;
}

th 
{
margin: 0px;
padding: 5px 5px 5px 5px;
overflow-x: hidden;
overflow-y: hidden;
word-wrap: break-word;   
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
font-size: 1em;
text-align: left;
border: 0 0 0 0;  
text-justify:trim; 
color: black; 
}

tr 
{
border-bottom: 1px solid cornflowerblue;
border-bottom-style:dotted;
} 

table tr:last-child td:first-child 
{
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
border-bottom-left-radius:10px
}

table tr:last-child td:last-child 
{
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
border-bottom-right-radius:10px
}

td 
{
margin: 0px;
padding: 5px 5px 5px 5px;
overflow-x: hidden;
overflow-y: hidden;
word-wrap: break-word;   
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
font-size: 1em;
text-align: left;
border: 0 0 0 0;  
text-justify:trim;
}

td a 
{
display: block;
position: relative; 
background-color: cornflowerblue;
color: white;
border: 1px solid black;
border-radius: 1px; /* give a curvy edge */
border-color: cornflowerblue;
cursor: pointer;
font-size: 1em;
font-weight: 600;
padding: 5px 5px 5px 5px;
margin: 1px 1px 1px 1px; 
}

td a:hover, td a:link, td a:visited, td a:active
{ 
background-color: none;
color:white;
border: 1px solid black;
border-radius: 5px; /* give a curvy edge */
cursor: pointer;
font-size: 1em;
font-weight: 600;
padding: 1px 1px 1px 1px;
margin: 1px 1px 1px 1px; 
}

td.asc a, td.desc a 
{
margin-right: 0;
}

td.asc a:after, td.desc a:after 
{
display: block;
position: absolute;
right: 0em;
top: 0;
font-size: 1em;
}

td.asc a:after 
{
content: '▲';
}

td.desc a:after 
{
content: '▼';
}

tr.pager td 
{
padding: 0 0.25em 0 0;
} 

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px)
{

/* header
----------------------------------------------------------*/
/* header .float-left, */
/* header .float-right */
/* { */
/* float: none; */
/* } */

/* logo */
/* header .site-title */
/* { */
/* margin: 10px; */
/* text-align: center; */
/* } */

/* login */
#login
{
font-size: .85em;
margin: 0 0 12px;
text-align: center;
}

#login ul
{
margin: 5px 0;
padding: 0;
}

#login li
{
display: inline;
list-style: none;
margin: 0;
padding: 0;
}

#login a
{
background-color: cornflowerblue;
color: white;
border: 1px solid black;
border-radius: 5px; /* give a curvy edge */
font-weight: 600;
margin: 2px;
padding: 0;
}

#login a:hover
{
background-color: black;
color: white;
border: 1px solid black;
border-radius: 5px; /* give a curvy edge */
}


/* main layout
----------------------------------------------------------*/
.main-content,
.featured + .main-content
{
background-position: 10px 0;
}

.content-wrapper
{
padding-right: 10px;
padding-left: 10px;
}

.featured .content-wrapper
{
padding: 10px;
}

/* page content */
article, aside
{
float: none;
width: 100%;
}

/* ordered list */
ol.round
{
list-style-type: none;
padding-left: 0;
}

ol.round li
{
padding-left: 10px;
margin: 25px 0;
}

ol.round li.zero,
ol.round li.one,
ol.round li.two,
ol.round li.three,
ol.round li.four,
ol.round li.five,
ol.round li.six,
ol.round li.seven,
ol.round li.eight,
ol.round li.nine
{
background: none;
}

/* features */
section.feature
{
float: none;
padding: 10px;
width: auto;
}

 
/* forms */
input
{
width: 90%;
}

/* login page */
#loginForm
{
border-right: none;
float: none;
width: auto;
}

#loginForm .validation-error
{
display: block;
margin-left: 15px;
}

#socialLoginForm
{
margin-left: 0;
float: none;
width: auto;
}


/* footer
----------------------------------------------------------*/
footer .float-left,
footer .float-right
{
float: none;
}

footer
{
text-align: center;
height: auto;
padding: 10px 0;
clear: both;
}

footer p
{
margin: 0;
}
}

/* Tabs
----------------------------------------------------------*/
div.tabs
{
position: relative;
display: block;
word-wrap: break-word;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
clear: both;
height: auto;
width: auto;
overflow-wrap: normal;
float: left;
}
.tabs .tabContent
{    
display: block;
position: relative;
float: left;
clear: both;
overflow: auto;
-webkit-overflow-scrolling: touch;  
width: 100%; /* makes the width same as the list item */
height: 100%;
}
.tabs ul
{
list-style: none;
position: relative;
float: left;
display: block;
text-align: left;
}
.tabs li
{
position: relative;
float: left; /*arrange top level items horizontally*/
padding-bottom: 8px;
}
.tabs li a
{
font-weight: bold;
font-size: 1em;
float: left;
text-decoration: none;
text-align: center; /* center the text horizontally */
color: white;
background-color: cornflowerblue;
border-right: 1px solid white;
border-left: 1px solid white;
border-bottom: 1px solid white;
border-top: 1px solid white;
border-radius: 5px; /* give the menu a curvy edge */
text-transform: uppercase;
}
.tabs li a:hover
{
background-color: black;
opacity: 1;
color: white;
cursor: pointer;
}
.tabs li a:active
{
background-color: black;
opacity: 1;
color: white;
cursor: pointer;
}
.tabs li a:focus
{
background-color: black;
opacity: 1;
color: white;
cursor: pointer;
}
.tabs .tab 
{
display: none;
}
#PersonalInfo:target, #ContactInfo:target, #PayslipInfo:target, #EmploymentInfo:target, #PaymentInfo:target
{
display: block;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
border-right: 1px solid cornflowerblue;
border-left: 1px solid cornflowerblue;
border-bottom: 1px solid cornflowerblue;
border-top: 1px solid cornflowerblue;
border-radius: 5px;
} 
.clearboth 
{
clear: both;
} 
input:first-letter, textarea:first-letter 
{
text-transform: capitalize;
}
.displaynone 
{
display: none;
}
.displayblock
{
display:block;
}
.ui-dialog-osx 
{
-moz-border-radius: 0 0 8px 8px;
-webkit-border-radius: 0 0 8px 8px;
border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;
}
.edit
{
background: url("../Images/bullet.png") no-repeat 0 50%;
padding: 2px 0 2px 20px;
}
.delete
{
background: url("../Images/bullet.png") no-repeat 0 50%;
padding: 2px 0 2px 20px;
}
.details
{
background: url("../Images/bullet.png") no-repeat 0 50%;
padding: 2px 0 2px 20px;
}
.create
{
background: url("../Images/bullet.png") no-repeat 0 50%;
padding: 2px 0 2px 20px;
}
#Container
{
width: auto;
height: auto;
position: relative;
display: block;
padding-bottom: 1px;
padding-top: 1px;
padding-left: 1px;
padding-right: 1px;
border-right: 1px solid white;
border-left: 1px solid white;
border-bottom: 1px solid white;
border-top: 1px solid white;
border-radius: 5px; /* give a curvy edge */
float: left;
clear: both;
overflow: auto;
z-index: 200;
}
.helpdiv
{
position: absolute;
padding-bottom: 2px;
padding-left: 2px;
width: auto;
height: auto;
padding-right: 2px;
padding-top: 2px;
border-right: 1px solid white;
border-left: 1px solid white;
border-bottom: 1px solid white;
border-top: 1px solid white;
border-radius: 5px; /* give a curvy edge */
text-wrap: normal;
overflow: auto;
text-overflow: inherit;
box-sizing: border-box;
}
#Container > .helpdiv
{
position: absolute;
padding-bottom: 2px;
padding-left: 2px;
padding-right: 2px;
padding-top: 2px;
border-right: 1px solid white;
border-left: 1px solid white;
border-bottom: 1px solid white;
border-top: 1px solid white;
border-radius: 5px; /* give a curvy edge */
overflow: auto;
text-wrap: normal;
width: auto;
height: auto;
text-overflow: inherit;
}
 




/* Start Help Menu
----------------------------------------------------------*/
#helpnav
{
position: relative;
display: block;
word-wrap: break-word;
padding-bottom: 0px;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
float:none;
clear: both;
overflow:visible;
z-index:400;
margin-bottom:10px;
}
#helpnav #helpmenu
{ 
list-style:none; 
position:relative; /* position:absolute = vertically, position:relative = horizontally*/
display: block; 
text-align: left; 
}
#helpmenu .submenu
{    
display: none;
position:absolute;
list-style: none;
padding-top: 0px;
padding-left: 0px;
width: 100%; /* makes the width of the sub menu align the same as the parent menu */
}
#helpmenu  li
{ 
position:relative;
float:left; /*arrange top level items horizontally*/
padding-left:0px;
padding-right:1px;
padding-top: 4px; /*place a space between submenu items to prevent overlapping*/ 
}
#helpmenu .submenu li
{
float: none; /*arrange sub menu items vertically*/
display: block; /*positions dropdown relative to parent menu*/
clear: left;
width: 100%;
}
#helpmenu .submenu > li:first-child
{ 
border-top:3px  hidden white;
margin-top:3px;  /*place a space between the first submenu item and the parent menu*/
margin-bottom:0px;
}
#helpmenu li a
{
font-weight: bold;
font-size: 1em;
text-decoration: none;
text-align: center; /* center the text horizontally */
color: white;
background-color: cornflowerblue;
border-right: 1px solid white;
border-left: 1px solid white;
border-bottom: 1px solid white;
border-top: 1px solid white;
border-radius: 5px; /* give the menu a curvy edge */
text-transform: uppercase;
padding-left: 1px;
padding-right: 1px;
padding-bottom: 1px;
padding-top: 1px;
} 
#helpmenu li a:hover
{
background-color:black;
opacity: 1;
color:white; 
}
#helpmenu li a:visited
{
}
#helpmenu li:hover .submenu 
{
display: block;
float: none;
} 
#helpmenu .submenu li a:hover
{
background-color: black;
opacity: 1;
color: white;    
}
#helpmenu .submenu li a
{
font-size: 1em;
padding-bottom: 1px; /*place a space between submenu items*/
padding-top: 1px;
padding-left: 1px;
padding-right: 1px;
margin-top: 0px;
margin-bottom: 0px;
margin-left:0px;
margin-right:0px;
clear: left;
background-position: top left;
}
/* End Help Menu
----------------------------------------------------------*/

.page-title
{
color: cornflowerblue;
font-size: 1em;
font: bold;
font-weight: 900;
}

.searchbutton
{
font-weight: bold;
font-size: 1em;
text-decoration: none;
text-align:center; /* center the text horizontally */
color: black;
background-color: white;
border-right: 0px solid white;
border-left: 0px solid white;
border-bottom: 0px solid white;
border-top: 0px solid white;
border-radius: 5px; /* give the menu a curvy edge */
padding-left: 1px;
padding-right: 1px;
padding-bottom: 1px;
padding-top: 1px;
}
.searchbutton:hover 
{
}
#DashBoardAmountrange
{
background-color:cornflowerblue;
border-radius:5px;
    

}
#error-display-div
{ 
color:red; 
font-size: 1em;
padding:5px 5px 5px 5px; 
}
#loginPartial-div
{  
font-size: 1em; 
}
.editor-label
{
font-weight:bold;
}
.editor-field
{
font-weight:bold;
}
td > .datepicker 
{
width:150px; 
background-color:inherit;
border: 0px solid;
}
 
#btnLogin .disabled
{
background-color: grey;
color:red; 
cursor: wait; 
} 

hr
{
width : 100%;
}
 
#apiResults  
{ 
color: cornflowerblue;
font-size: 1em;
font: bold;
font-weight: 900;
}
#successmessage 
{ 
color: cornflowerblue;
font-size: 1em;
font: bold;
font-weight: 900;
}
#errormessage 
{ 
color: red;  
font-size: 1em;
font: bold;
font-weight: 900;
}

.col1,.col2,.col3,.col4
{
float: left; 
overflow: hidden;
}
.col1 
{
float: left;
overflow: hidden;
overflow-x: hidden;
width: 320px;
word-wrap: break-word;
}
.col2 
{
float: left;
overflow: hidden;
overflow-x: hidden;
width:600px;
word-wrap: break-word;  
}  
.col3 
{
float: left;
overflow: hidden;
overflow-x: hidden;
width:600px;
word-wrap: break-word;  
}  
.col4 
{
float: left;
overflow: hidden;
overflow-x: hidden;
width:600px;
word-wrap: break-word;  
}
 
#searchaccountsheader .col1 
{ 
float: left;
overflow: hidden; 
width: 250px;
word-wrap: break-word;
}
#searchaccountsheader .col2
{ 
float: left;
overflow: hidden; 
width: 250px;
word-wrap: break-word;
}
#searchaccountsheader .col3
{
float: left;
overflow: hidden; 
width: 200px;
word-wrap: break-word;
}  

#column-div .col1 
{
float: left;
overflow: hidden; 
width: 250px;
word-wrap: break-word;
}
#column-div .col2
{
float: left;
overflow: hidden; 
width: 250px;
word-wrap: break-word;
}
#column-div .col3
{
float: left;
overflow: hidden; 
width: 250px;
word-wrap: break-word;
}  
#column-div .col4
{
float: left;
overflow: hidden; 
width: 250px;
word-wrap: break-word;
}
#column-div
{
float: left;
overflow: hidden; 
width: auto;
word-wrap: break-word;
}
#column-div input, textarea, select 
{
border: 1px solid black; 
border-radius: 3px; /* give a curvy edge */
background: white;
color: black;
font-size: 1em;
margin: 1px 1px 1px 1px;
padding: 1px;
width: 230px;
height: 30px;
}
#column-div input:focus, textarea:focus, select:focus 
{
border: 2px solid cornflowerblue;
}
#column-div h5
{
font-size: 1em; 
overflow: hidden;
border: 0px solid black; 
border-radius: 0px; /* give a curvy edge */ 
color: black; 
margin: 1px 1px 1px 1px;
padding: 1px; 
}

#statementheader .col1
{ 
float: left;
overflow: hidden; 
width: 200px;
word-wrap: break-word;
}
#statementheader .col2
{ 
float: left;
overflow: hidden; 
width: 200px;
word-wrap: break-word;
}
#statementheader .col3
{ 
float: left;
overflow: hidden; 
width: 200px;
word-wrap: break-word;
}
#statementheader .col4
{ 
float: left;
overflow: hidden; 
width: 200px;
word-wrap: break-word;
}
#ministatementheader .col1
{ 
float: left;
overflow: hidden; 
width: 300px;
word-wrap: break-word;
}
#ministatementheader .col2
{ 
float: left;
overflow: hidden; 
width: 200px;
word-wrap: break-word;
}
#withdrawheader .col1
{ 
float: left;
overflow: hidden; 
width: 300px;
word-wrap: break-word;
}
#withdrawheader .col2
{ 
float: left;
overflow: hidden; 
width: 300px;
word-wrap: break-word;
}